<h1>Become A ResQuer</h1>
<p>Fill out the form below to get started.</p>
<form novalidate class="css-form">
  First Name:    <input type="text" ng-model="user.first_name" required /><br />
  Last Name:    <input type="text" ng-model="user.last_name" required /><br />
  E-mail:  <input type="email" ng-model="user.email" required /><br />
  Address: <input type="text" ng-model="user.address" required /><br />
  City:    <input type="text" ng-model="user.city" required /><br />
  State:   <input type="text" ng-model="user.state" required /><br />
  <input type="submit" ng-click="update(user)" value="Submit" />
  {{user}}
</form>
