<div class="locate-phone-web">
  <h1>Locate A ResQuer</h1>

  <p>Tell us where you are.</p>

  <form novalidate class="find-me-form">
    <input type="submit" ng-click="geo(user)" value="Find Me"/>
  </form>
  <form novalidate class="fulfillment-request-form">
    <input type="text" ng-model="fulfillment.address" placeholder="Address" required/>
    <input type="email" ng-model="fulfillment.city" placeholder="City" required/>
    <input type="email" ng-model="fulfillment.state" placeholder="State" required/>
    <p>Please choose type of service</p>
    <select ng-options="item.label for item in fulfillmentTypes track by item.id" ng-model="selectedFulfillment"/>
    <input type="submit" ng-click="update(fulfillment)" value="Submit"/>
  </form>
</div>
