

<div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image"></a>
    <div class="hero-copy">
      <h1>ResQ</h1>
      <p>It's no fun getting a flat tire or walking to your car after a long days work to find out the batteries dead.</p>
      <h2>We're here to help. </h2>
      <p>Send a request out to fellow citizen near you and they'll come to the ResQ with a jump,tire change, or a few gallons of gas.</p>
      <p>As little as $20</p>
    </div>
    <button>Learn More</button>
    <div class="device-background">
      <div class="device-text">
        <div hero-side-left></div>
        <ul>
          <li><button ng-click="home.smallHome ='become'">Become A Res-Q Responder</button></li>
          <li><button ng-click="home.smallHome ='locate'">Locate A Res-Q Responder</button></li>
        </ul>
        <ul>
        </ul>
      </div>
      <div hero-side-right></div>
    </div>
  </div>
</div>
<div id="map_canvas">
  <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
    <ui-gmap-markers models="fulfillerMarkers" coords="'self'" icon="'icon'">
    </ui-gmap-markers>
  </ui-gmap-google-map>

</div>

